global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'fraud_api'
    metrics_path: '/metrics'
    static_configs:
      - targets:
          - 'fraud-api:80'     # the service name and port from docker-compose
